In [1]:
import pandas as pd

In [2]:
import chars2vec
c2v_model = chars2vec.load_model('eng_50')

def convert_text_numeric(text):
    global c2v_model
    numeric = c2v_model.vectorize_words([text]).mean()
    return numeric

2022-03-09 11:58:43.900238: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:936] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-03-09 11:58:43.909256: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudnn.so.8'; dlerror: libcudnn.so.8: cannot open shared object file: No such file or directory
2022-03-09 11:58:43.909278: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1850] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
2022-03-09 11:58:43.909871: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [3]:
df = pd.read_csv("Train_Test_Network_dataset/Train_Test_Network.csv")

In [4]:
data = df[df.columns[:15]].drop(df.columns[[0, 1, 3]], axis=1)
data

,src_port,dst_port,proto,service,duration,src_bytes,dst_bytes,conn_state,missed_bytes,src_pkts,src_ip_bytes,dst_pkts
0,1883,52976,tcp,-,80549.530260,1762852,41933215,OTH,0,252181,14911156,2
1,47260,15600,udp,-,0.000000,0,0,S0,0,1,63,0
2,1880,51782,tcp,-,0.000000,0,0,OTH,0,0,0,0
3,34296,10502,tcp,-,0.000000,0,0,OTH,0,0,0,0
4,46608,53,udp,dns,0.000549,0,298,SHR,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
461038,33108,80,tcp,-,0.000000,0,0,S0,0,1,60,0
461039,37242,443,tcp,-,0.000000,0,0,OTH,0,0,0,1
461040,4444,49178,tcp,-,290.371539,101568,2592,OTH,0,108,108064,31
461041,60816,443,tcp,-,23.190902,32,31,SF,0,8,411,7
461042,41054,443,tcp,-,22.872314,32,31,SF,0,8,411,6

In [5]:
data['proto'] = df['proto'].astype('category').cat.codes
data

,src_port,dst_port,proto,service,duration,src_bytes,dst_bytes,conn_state,missed_bytes,src_pkts,src_ip_bytes,dst_pkts
0,1883,52976,1,-,80549.530260,1762852,41933215,OTH,0,252181,14911156,2
1,47260,15600,2,-,0.000000,0,0,S0,0,1,63,0
2,1880,51782,1,-,0.000000,0,0,OTH,0,0,0,0
3,34296,10502,1,-,0.000000,0,0,OTH,0,0,0,0
4,46608,53,2,dns,0.000549,0,298,SHR,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
461038,33108,80,1,-,0.000000,0,0,S0,0,1,60,0
461039,37242,443,1,-,0.000000,0,0,OTH,0,0,0,1
461040,4444,49178,1,-,290.371539,101568,2592,OTH,0,108,108064,31
461041,60816,443,1,-,23.190902,32,31,SF,0,8,411,7
461042,41054,443,1,-,22.872314,32,31,SF,0,8,411,6

In [6]:
data['service'] = df['service'].astype('category').cat.codes
data

,src_port,dst_port,proto,service,duration,src_bytes,dst_bytes,conn_state,missed_bytes,src_pkts,src_ip_bytes,dst_pkts
0,1883,52976,1,0,80549.530260,1762852,41933215,OTH,0,252181,14911156,2
1,47260,15600,2,0,0.000000,0,0,S0,0,1,63,0
2,1880,51782,1,0,0.000000,0,0,OTH,0,0,0,0
3,34296,10502,1,0,0.000000,0,0,OTH,0,0,0,0
4,46608,53,2,3,0.000549,0,298,SHR,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
461038,33108,80,1,0,0.000000,0,0,S0,0,1,60,0
461039,37242,443,1,0,0.000000,0,0,OTH,0,0,0,1
461040,4444,49178,1,0,290.371539,101568,2592,OTH,0,108,108064,31
461041,60816,443,1,0,23.190902,32,31,SF,0,8,411,7
461042,41054,443,1,0,22.872314,32,31,SF,0,8,411,6

In [7]:
data['conn_state'] = df['conn_state'].astype('category').cat.codes
data

,src_port,dst_port,proto,service,duration,src_bytes,dst_bytes,conn_state,missed_bytes,src_pkts,src_ip_bytes,dst_pkts
0,1883,52976,1,0,80549.530260,1762852,41933215,0,0,252181,14911156,2
1,47260,15600,2,0,0.000000,0,0,6,0,1,63,0
2,1880,51782,1,0,0.000000,0,0,0,0,0,0,0
3,34296,10502,1,0,0.000000,0,0,0,0,0,0,0
4,46608,53,2,3,0.000549,0,298,12,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
461038,33108,80,1,0,0.000000,0,0,6,0,1,60,0
461039,37242,443,1,0,0.000000,0,0,0,0,0,0,1
461040,4444,49178,1,0,290.371539,101568,2592,0,0,108,108064,31
461041,60816,443,1,0,23.190902,32,31,10,0,8,411,7
461042,41054,443,1,0,22.872314,32,31,10,0,8,411,6

In [8]:
dns_data = df[df.columns[16:24]].copy()
dns_data

,dns_query,dns_qclass,dns_qtype,dns_rcode,dns_AA,dns_RD,dns_RA,dns_rejected
0,-,0,0,0,-,-,-,-
1,-,0,0,0,-,-,-,-
2,-,0,0,0,-,-,-,-
3,-,0,0,0,-,-,-,-
4,-,0,0,0,-,-,-,-
...,...,...,...,...,...,...,...,...
461038,-,0,0,0,-,-,-,-
461039,-,0,0,0,-,-,-,-
461040,-,0,0,0,-,-,-,-
461041,-,0,0,0,-,-,-,-
461042,-,0,0,0,-,-,-,-

In [9]:
dns_data['dns_query'] = dns_data['dns_query'].apply(convert_text_numeric)
dns_data

,dns_query,dns_qclass,dns_qtype,dns_rcode,dns_AA,dns_RD,dns_RA,dns_rejected
0,-0.002001,0,0,0,-,-,-,-
1,-0.002001,0,0,0,-,-,-,-
2,-0.002001,0,0,0,-,-,-,-
3,-0.002001,0,0,0,-,-,-,-
4,-0.002001,0,0,0,-,-,-,-
...,...,...,...,...,...,...,...,...
461038,-0.002001,0,0,0,-,-,-,-
461039,-0.002001,0,0,0,-,-,-,-
461040,-0.002001,0,0,0,-,-,-,-
461041,-0.002001,0,0,0,-,-,-,-
461042,-0.002001,0,0,0,-,-,-,-

In [10]:
dns_data['dns_AA'] = dns_data['dns_AA'].astype('category').cat.codes
dns_data

,dns_query,dns_qclass,dns_qtype,dns_rcode,dns_AA,dns_RD,dns_RA,dns_rejected
0,-0.002001,0,0,0,0,-,-,-
1,-0.002001,0,0,0,0,-,-,-
2,-0.002001,0,0,0,0,-,-,-
3,-0.002001,0,0,0,0,-,-,-
4,-0.002001,0,0,0,0,-,-,-
...,...,...,...,...,...,...,...,...
461038,-0.002001,0,0,0,0,-,-,-
461039,-0.002001,0,0,0,0,-,-,-
461040,-0.002001,0,0,0,0,-,-,-
461041,-0.002001,0,0,0,0,-,-,-
461042,-0.002001,0,0,0,0,-,-,-

In [11]:
dns_data['dns_RD'] = dns_data['dns_RA'].astype('category').cat.codes
dns_data

,dns_query,dns_qclass,dns_qtype,dns_rcode,dns_AA,dns_RD,dns_RA,dns_rejected
0,-0.002001,0,0,0,0,0,-,-
1,-0.002001,0,0,0,0,0,-,-
2,-0.002001,0,0,0,0,0,-,-
3,-0.002001,0,0,0,0,0,-,-
4,-0.002001,0,0,0,0,0,-,-
...,...,...,...,...,...,...,...,...
461038,-0.002001,0,0,0,0,0,-,-
461039,-0.002001,0,0,0,0,0,-,-
461040,-0.002001,0,0,0,0,0,-,-
461041,-0.002001,0,0,0,0,0,-,-
461042,-0.002001,0,0,0,0,0,-,-

In [12]:
dns_data['dns_RA'] = dns_data['dns_RA'].astype('category').cat.codes
dns_data

,dns_query,dns_qclass,dns_qtype,dns_rcode,dns_AA,dns_RD,dns_RA,dns_rejected
0,-0.002001,0,0,0,0,0,0,-
1,-0.002001,0,0,0,0,0,0,-
2,-0.002001,0,0,0,0,0,0,-
3,-0.002001,0,0,0,0,0,0,-
4,-0.002001,0,0,0,0,0,0,-
...,...,...,...,...,...,...,...,...
461038,-0.002001,0,0,0,0,0,0,-
461039,-0.002001,0,0,0,0,0,0,-
461040,-0.002001,0,0,0,0,0,0,-
461041,-0.002001,0,0,0,0,0,0,-
461042,-0.002001,0,0,0,0,0,0,-

In [13]:
dns_data['dns_rejected'] = dns_data['dns_rejected'].astype('category').cat.codes
dns_data

,dns_query,dns_qclass,dns_qtype,dns_rcode,dns_AA,dns_RD,dns_RA,dns_rejected
0,-0.002001,0,0,0,0,0,0,0
1,-0.002001,0,0,0,0,0,0,0
2,-0.002001,0,0,0,0,0,0,0
3,-0.002001,0,0,0,0,0,0,0
4,-0.002001,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
461038,-0.002001,0,0,0,0,0,0,0
461039,-0.002001,0,0,0,0,0,0,0
461040,-0.002001,0,0,0,0,0,0,0
461041,-0.002001,0,0,0,0,0,0,0
461042,-0.002001,0,0,0,0,0,0,0

In [14]:
ssl_data = df[df.columns[24:30]].copy()
ssl_data

,ssl_version,ssl_cipher,ssl_resumed,ssl_established,ssl_subject,ssl_issuer
0,-,-,-,-,-,-
1,-,-,-,-,-,-
2,-,-,-,-,-,-
3,-,-,-,-,-,-
4,-,-,-,-,-,-
...,...,...,...,...,...,...
461038,-,-,-,-,-,-
461039,-,-,-,-,-,-
461040,-,-,-,-,-,-
461041,-,-,-,-,-,-
461042,-,-,-,-,-,-

In [15]:
ssl_data['ssl_version'] = ssl_data['ssl_version'].astype('category').cat.codes
ssl_data

,ssl_version,ssl_cipher,ssl_resumed,ssl_established,ssl_subject,ssl_issuer
0,0,-,-,-,-,-
1,0,-,-,-,-,-
2,0,-,-,-,-,-
3,0,-,-,-,-,-
4,0,-,-,-,-,-
...,...,...,...,...,...,...
461038,0,-,-,-,-,-
461039,0,-,-,-,-,-
461040,0,-,-,-,-,-
461041,0,-,-,-,-,-
461042,0,-,-,-,-,-

In [16]:
ssl_data['ssl_cipher'] = ssl_data['ssl_cipher'].astype('category').cat.codes
ssl_data

,ssl_version,ssl_cipher,ssl_resumed,ssl_established,ssl_subject,ssl_issuer
0,0,0,-,-,-,-
1,0,0,-,-,-,-
2,0,0,-,-,-,-
3,0,0,-,-,-,-
4,0,0,-,-,-,-
...,...,...,...,...,...,...
461038,0,0,-,-,-,-
461039,0,0,-,-,-,-
461040,0,0,-,-,-,-
461041,0,0,-,-,-,-
461042,0,0,-,-,-,-

In [17]:
ssl_data['ssl_resumed'] = ssl_data['ssl_resumed'].astype('category').cat.codes
ssl_data

,ssl_version,ssl_cipher,ssl_resumed,ssl_established,ssl_subject,ssl_issuer
0,0,0,0,-,-,-
1,0,0,0,-,-,-
2,0,0,0,-,-,-
3,0,0,0,-,-,-
4,0,0,0,-,-,-
...,...,...,...,...,...,...
461038,0,0,0,-,-,-
461039,0,0,0,-,-,-
461040,0,0,0,-,-,-
461041,0,0,0,-,-,-
461042,0,0,0,-,-,-

In [18]:
ssl_data['ssl_established'] = ssl_data['ssl_established'].astype('category').cat.codes
ssl_data

,ssl_version,ssl_cipher,ssl_resumed,ssl_established,ssl_subject,ssl_issuer
0,0,0,0,0,-,-
1,0,0,0,0,-,-
2,0,0,0,0,-,-
3,0,0,0,0,-,-
4,0,0,0,0,-,-
...,...,...,...,...,...,...
461038,0,0,0,0,-,-
461039,0,0,0,0,-,-
461040,0,0,0,0,-,-
461041,0,0,0,0,-,-
461042,0,0,0,0,-,-

In [19]:
ssl_data['ssl_subject'] = ssl_data['ssl_subject'].apply(convert_text_numeric)
ssl_data

,ssl_version,ssl_cipher,ssl_resumed,ssl_established,ssl_subject,ssl_issuer
0,0,0,0,0,-0.002001,-
1,0,0,0,0,-0.002001,-
2,0,0,0,0,-0.002001,-
3,0,0,0,0,-0.002001,-
4,0,0,0,0,-0.002001,-
...,...,...,...,...,...,...
461038,0,0,0,0,-0.002001,-
461039,0,0,0,0,-0.002001,-
461040,0,0,0,0,-0.002001,-
461041,0,0,0,0,-0.002001,-
461042,0,0,0,0,-0.002001,-

In [20]:
ssl_data['ssl_issuer'] = ssl_data['ssl_issuer'].apply(convert_text_numeric)
ssl_data

,ssl_version,ssl_cipher,ssl_resumed,ssl_established,ssl_subject,ssl_issuer
0,0,0,0,0,-0.002001,-0.002001
1,0,0,0,0,-0.002001,-0.002001
2,0,0,0,0,-0.002001,-0.002001
3,0,0,0,0,-0.002001,-0.002001
4,0,0,0,0,-0.002001,-0.002001
...,...,...,...,...,...,...
461038,0,0,0,0,-0.002001,-0.002001
461039,0,0,0,0,-0.002001,-0.002001
461040,0,0,0,0,-0.002001,-0.002001
461041,0,0,0,0,-0.002001,-0.002001
461042,0,0,0,0,-0.002001,-0.002001

In [21]:
http_data = df[df.columns[30:40]].copy()
http_data

,http_trans_depth,http_method,http_uri,http_version,http_request_body_len,http_response_body_len,http_status_code,http_user_agent,http_orig_mime_types,http_resp_mime_types
0,-,-,-,-,0,0,0,-,-,-
1,-,-,-,-,0,0,0,-,-,-
2,-,-,-,-,0,0,0,-,-,-
3,-,-,-,-,0,0,0,-,-,-
4,-,-,-,-,0,0,0,-,-,-
...,...,...,...,...,...,...,...,...,...,...
461038,-,-,-,-,0,0,0,-,-,-
461039,-,-,-,-,0,0,0,-,-,-
461040,-,-,-,-,0,0,0,-,-,-
461041,-,-,-,-,0,0,0,-,-,-
461042,-,-,-,-,0,0,0,-,-,-

In [22]:
http_data['http_trans_depth'] = pd.to_numeric(http_data['http_trans_depth'].replace('-','0'))
http_data

,http_trans_depth,http_method,http_uri,http_version,http_request_body_len,http_response_body_len,http_status_code,http_user_agent,http_orig_mime_types,http_resp_mime_types
0,0,-,-,-,0,0,0,-,-,-
1,0,-,-,-,0,0,0,-,-,-
2,0,-,-,-,0,0,0,-,-,-
3,0,-,-,-,0,0,0,-,-,-
4,0,-,-,-,0,0,0,-,-,-
...,...,...,...,...,...,...,...,...,...,...
461038,0,-,-,-,0,0,0,-,-,-
461039,0,-,-,-,0,0,0,-,-,-
461040,0,-,-,-,0,0,0,-,-,-
461041,0,-,-,-,0,0,0,-,-,-
461042,0,-,-,-,0,0,0,-,-,-

In [23]:
http_data['http_method'] = http_data['http_method'].astype('category').cat.codes
http_data

,http_trans_depth,http_method,http_uri,http_version,http_request_body_len,http_response_body_len,http_status_code,http_user_agent,http_orig_mime_types,http_resp_mime_types
0,0,0,-,-,0,0,0,-,-,-
1,0,0,-,-,0,0,0,-,-,-
2,0,0,-,-,0,0,0,-,-,-
3,0,0,-,-,0,0,0,-,-,-
4,0,0,-,-,0,0,0,-,-,-
...,...,...,...,...,...,...,...,...,...,...
461038,0,0,-,-,0,0,0,-,-,-
461039,0,0,-,-,0,0,0,-,-,-
461040,0,0,-,-,0,0,0,-,-,-
461041,0,0,-,-,0,0,0,-,-,-
461042,0,0,-,-,0,0,0,-,-,-

In [24]:
http_data['http_uri'] = http_data['http_uri'].apply(convert_text_numeric)

In [25]:
http_data['http_version'] = http_data['http_version'].astype('category').cat.codes
http_data

,http_trans_depth,http_method,http_uri,http_version,http_request_body_len,http_response_body_len,http_status_code,http_user_agent,http_orig_mime_types,http_resp_mime_types
0,0,0,-0.002001,0,0,0,0,-,-,-
1,0,0,-0.002001,0,0,0,0,-,-,-
2,0,0,-0.002001,0,0,0,0,-,-,-
3,0,0,-0.002001,0,0,0,0,-,-,-
4,0,0,-0.002001,0,0,0,0,-,-,-
...,...,...,...,...,...,...,...,...,...,...
461038,0,0,-0.002001,0,0,0,0,-,-,-
461039,0,0,-0.002001,0,0,0,0,-,-,-
461040,0,0,-0.002001,0,0,0,0,-,-,-
461041,0,0,-0.002001,0,0,0,0,-,-,-
461042,0,0,-0.002001,0,0,0,0,-,-,-

In [26]:
http_data['http_user_agent'] = http_data['http_user_agent'].apply(convert_text_numeric)

In [27]:
http_data['http_orig_mime_types'] = http_data['http_orig_mime_types'].astype('category').cat.codes
http_data

,http_trans_depth,http_method,http_uri,http_version,http_request_body_len,http_response_body_len,http_status_code,http_user_agent,http_orig_mime_types,http_resp_mime_types
0,0,0,-0.002001,0,0,0,0,-0.002001,0,-
1,0,0,-0.002001,0,0,0,0,-0.002001,0,-
2,0,0,-0.002001,0,0,0,0,-0.002001,0,-
3,0,0,-0.002001,0,0,0,0,-0.002001,0,-
4,0,0,-0.002001,0,0,0,0,-0.002001,0,-
...,...,...,...,...,...,...,...,...,...,...
461038,0,0,-0.002001,0,0,0,0,-0.002001,0,-
461039,0,0,-0.002001,0,0,0,0,-0.002001,0,-
461040,0,0,-0.002001,0,0,0,0,-0.002001,0,-
461041,0,0,-0.002001,0,0,0,0,-0.002001,0,-
461042,0,0,-0.002001,0,0,0,0,-0.002001,0,-

In [28]:
http_data['http_resp_mime_types'] = http_data['http_resp_mime_types'].astype('category').cat.codes
http_data

,http_trans_depth,http_method,http_uri,http_version,http_request_body_len,http_response_body_len,http_status_code,http_user_agent,http_orig_mime_types,http_resp_mime_types
0,0,0,-0.002001,0,0,0,0,-0.002001,0,0
1,0,0,-0.002001,0,0,0,0,-0.002001,0,0
2,0,0,-0.002001,0,0,0,0,-0.002001,0,0
3,0,0,-0.002001,0,0,0,0,-0.002001,0,0
4,0,0,-0.002001,0,0,0,0,-0.002001,0,0
...,...,...,...,...,...,...,...,...,...,...
461038,0,0,-0.002001,0,0,0,0,-0.002001,0,0
461039,0,0,-0.002001,0,0,0,0,-0.002001,0,0
461040,0,0,-0.002001,0,0,0,0,-0.002001,0,0
461041,0,0,-0.002001,0,0,0,0,-0.002001,0,0
461042,0,0,-0.002001,0,0,0,0,-0.002001,0,0

In [33]:
label_data = df['label']
label_data

0         0
1         0
2         0
3         0
4         0
         ..
461038    1
461039    1
461040    1
461041    1
461042    1
Name: label, Length: 461043, dtype: int64

In [34]:
data.to_csv('data/data.csv', index=False)
dns_data.to_csv('data/dns_data.csv', index=False)
ssl_data.to_csv('data/ssl_data.csv', index=False)
http_data.to_csv('data/http_data.csv', index=False)
label_data.to_csv('data/label_data.csv', index=False)

In [37]:
preprocessed_data = pd.concat([data, dns_data, ssl_data, http_data], axis=1)
preprocessed_data

,src_port,dst_port,proto,service,duration,src_bytes,dst_bytes,conn_state,missed_bytes,src_pkts,...,http_trans_depth,http_method,http_uri,http_version,http_request_body_len,http_response_body_len,http_status_code,http_user_agent,http_orig_mime_types,http_resp_mime_types
0,1883,52976,1,0,80549.530260,1762852,41933215,0,0,252181,...,0,0,-0.002001,0,0,0,0,-0.002001,0,0
1,47260,15600,2,0,0.000000,0,0,6,0,1,...,0,0,-0.002001,0,0,0,0,-0.002001,0,0
2,1880,51782,1,0,0.000000,0,0,0,0,0,...,0,0,-0.002001,0,0,0,0,-0.002001,0,0
3,34296,10502,1,0,0.000000,0,0,0,0,0,...,0,0,-0.002001,0,0,0,0,-0.002001,0,0
4,46608,53,2,3,0.000549,0,298,12,0,0,...,0,0,-0.002001,0,0,0,0,-0.002001,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461038,33108,80,1,0,0.000000,0,0,6,0,1,...,0,0,-0.002001,0,0,0,0,-0.002001,0,0
461039,37242,443,1,0,0.000000,0,0,0,0,0,...,0,0,-0.002001,0,0,0,0,-0.002001,0,0
461040,4444,49178,1,0,290.371539,101568,2592,0,0,108,...,0,0,-0.002001,0,0,0,0,-0.002001,0,0
461041,60816,443,1,0,23.190902,32,31,10,0,8,...,0,0,-0.002001,0,0,0,0,-0.002001,0,0
461042,41054,443,1,0,22.872314,32,31,10,0,8,...,0,0,-0.002001,0,0,0,0,-0.002001,0,0

In [38]:
preprocessed_data.to_csv('data/preprocess.csv', index=False)